html {
    cursor: url(imagens/mata_mosca.png) 30 30, auto;
}


body {
    background-image: url(imagens/bg.jpg);
    background-repeat: no-repeat ;
    background-size: 100%;
}




.mosquito1 {
    width: 50px;
    height: 50px;
}

.mosquito2 {
    width: 70px;
    height: 70px;
}

.mosquito3{
        width: 90px;
        height: 90px;
        }

.ladoA {
    transform: scaleX(1);
}

.ladoB {
    transform: scaleX(-1);
}

.painel {
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 190px;
    background-color: #fff;
    padding: 10px;
    opacity: 0.7;
    border-top:solid 1px #fff  ;
}

.vidas {
    float: left;
}

.cronometro {
    float: left;
    font-size: 20px;
    font-weight: bold;
}


.prlGameOver {
    text-align: center;
    padding-top: 30px;
}

.btnReiniciar {
    padding: 10px 30px;
    background: black;
    color: white;
    font-size: 20px;
    font-weight: bold;
    margin-top: 10px;
    box-shadow: 0 0 20px 10px  black;
    border-radius: 10px;
  
}
.btniniciar {
    padding: 10px 30px;
    background: rgb(214, 11, 11);
    color: white;
    font-size: 2em;
    font-weight: bold;
    margin-top: 00px;
    box-shadow: 0 0 20px 10px  light;
    border-radius: 10px;
  
}
.selecao {
    font-size: 1em;
    padding: 5px 20px;
    font-size: 14px;
    margin-bottom: 5px;
    font-weight: bold;


}